.env
credentials/*
*.log
*.fls
*.aux
*.gz
*.fdb_latexmk
*.toc
*.out
*.bbl
*.bcf
*.blg
*.run.xml
*blx.bib
*.lof
*.lot
.DS_store
node_modules
scripts/gantt
tutorial

# Files not needed in version control
src/thesis/refs.bib.sav
src/thesis/The Style Sheet for BA and MA Thesis at the School of Humanities-1.pdf
src/thesis/blank.tex
src/thesis/img/2022_State_of_Digital_Accessibility_Report.pdf

# PDF-s not synced
src/thesis/aux/automated_testing.pdf
src/thesis/aux/case_study.pdf
src/thesis/aux/appendix.pdf
src/tutorial/aux/latex_tutorial.pdf
src/thesis/aux/images_tables.pdf
src/thesis/aux/accessibility.pdf
src/thesis/audit_compared.tex
src/thesis/aux/audit_compared.pdf
.vscode/ltex.hiddenFalsePositives.en-US.txt
.vscode/ltex.dictionary.en-US.txt
src/thesis/aux/1_goal_and_methodology.pdf
src/thesis/aux/2_background.pdf
src/thesis/aux/3_research.pdf
src/thesis/aux/4_results.pdf
src/thesis/aux/5_discussion.pdf
src/thesis/aux/blank.pdf
.gitignore
src/thesis/helpers/The Style Sheet for BA and MA Thesis at the School of Humanities-1.pdf
src/thesis/aux/goal_and_methodology.pdf
src/thesis/helpers/AtkinsonHyperlegible/*
src/thesis/aux/thesis.tdo
