.env
credentials/*
*.log
*.fls
*.aux
*.gz
*.fdb_latexmk
*.toc
*.out
*.bbl
*.bcf
*.blg
*.run.xml
*blx.bib
.DS_store
node_modules
scripts/gantt
tutorial
src/thesis/refs.bib.sav
src/thesis/aux/accessibility.pdf
src/thesis/aux/automated_testing.pdf
src/thesis/The Style Sheet for BA and MA Thesis at the School of Humanities-1.pdf
src/thesis/blank.tex
src/thesis/aux/case_study.pdf
src/thesis/aux/appendix.pdf
src/tutorial/aux/latex_tutorial.pdf
src/thesis/img/2022_State_of_Digital_Accessibility_Report.pdf
src/thesis/aux/images_tables.pdf
